{% extends "admin/base.html" %}
{% load static i18n %}

{% block extrahead %}
  {{ block.super }}
  {% block extrahead_shortcuts %}
    <link rel="stylesheet" href="{% static "admin/css/vendor/select2/select2.css" %}">
    <link rel="stylesheet" href="{% static "admin/css/shortcuts.css" %}">
    <script src="{% static "admin/js/vendor/jquery/jquery.js" %}" ></script>
    <script src="{% static "admin/js/vendor/select2/select2.full.js" %}" ></script>
    <script src="{% static "admin/js/vendor/select2/i18n/en.js" %}" ></script>
    <script src="{% static "admin/js/jquery.init.js" %}" ></script>
    <script src="{% static "admin/js/instance_search.js" %}"></script>
    <script src="{% static "admin/js/shortcuts.js" %}" async></script>
  {% endblock %}
{% endblock %}

{% block footer %}
  {{ block.super }}
  {% block shortcuts %}
  <button id="open-shortcuts" data-keyboard-shortcut="?">
    <kbd>?</kbd>
  </button>
  <dialog class="keyboard-shortcuts" id="model-list-dialog">
    <div class="dialog-heading">
      <h2>{% translate "Models" %}</h2>
      <form method="dialog">
        <button aria-label="{% translate 'Close' %}">&#10006;</button>
      </form>
    </div>
    <form id="model-list-dialog-form">
      <label for="model-list-dialog-search">
        {% translate 'Search model' %}
      </label>
      <input
        type="search"
        id="model-list-dialog-search"
        placeholder="{% translate 'Start typing to search...' %}"
      >
    </form>
    <div>
      {% for app in available_apps %}
        <section>
          <h3>{{ app.app_label }}</h3>
          <ul>
          {% for model in app.models %}
            <li>
              <a href="{{ model.admin_url }}"{{ model.name }}>
                {{ model.name }}
              </a>
            </li>
          {% endfor %}
          </ul>
        </section>
      {% endfor %}
    </div>
  </dialog>
  <dialog class="keyboard-shortcuts" id="instance-list-dialog">
    <div >
      <h2>{% translate "Model Instances" %}</h2>
      <form method="dialog">
        <button aria-label="{% translate 'Close' %}">&#10006;</button>
      </form>
    </div>
    <div>
      <span id="shortcuts-model-select-container">
          <select id="shortcuts-model-select" class="shortcuts-select" data-theme="shortcuts-select" data-placeholder="Select a model">
          <option></option>
              {% for app in available_apps %}
            <optgroup label="{{ app.app_label }}" data-value="{{ app.app_label }}">
                {% for model in app.models %}
                    <option value="{{ model.object_name }}">{{ model.name }}</option>
                {% endfor %}
            </optgroup>
          {% endfor %}
        </select>
      </span>
      <span id="shortcuts-instance-select-container">
        <select id="shortcuts-instance-select" class="shortcuts-select" data-theme="shortcuts-select" data-placeholder="Select the model instance" data-ajax--url="{% url 'admin:instance_search' %}">
            <option></option>
        </select>
      </span>
    </div>
  </dialog>
  <dialog class="keyboard-shortcuts" id="shortcuts-dialog">
    <div class="dialog-heading">
      <h2>{% translate "Keyboard shortcuts" %}</h2>
      <form method="dialog">
        <button aria-label="{% translate 'Close' %}">&#10006;</button>
      </form>
    </div>
    <section>
      <h3>{% translate "Global" %}</h3>
      <ul>
        <li>
          <div class="shortcut-description">{% translate "Show this dialog" %}</div>
          <div class="shortcut-keys"><kbd>?</kbd></div>
        </li>
        <li>
          <div class="shortcut-description">{% translate "Go to the site index" %}</div>
          <div class="shortcut-keys"><kbd>g</kbd> <kbd>i</kdb></div>
        </li>
        <li>
          <div class="shortcut-description">{% translate "Go to a change list page" %}</div>
          <div class="shortcut-keys"><kbd>g</kbd> <kbd>l</kdb></div>
        </li>
        <li>
          <div class="shortcut-description">{% translate "Go to the model instance change page" %}</div>
          <div class="shortcut-keys"><kbd>g</kbd> <kbd>c</kdb></div>
        </li>
      </ul>
    </section>
    {% endblock shortcuts %}
    {% block extra_shortcuts %}{% endblock %}
  </dialog>
{% endblock %}
