{% extends "admin/base.html" %}
{% load static i18n shortcuts %}

{% block extrahead %}
  {{ block.super }}
  {% block extrahead_shortcuts %}
    <link rel="stylesheet" href="{% static "admin/css/shortcuts.css" %}">
    <script src="{% static "admin/js/shortcuts.js" %}" async></script>
  {% endblock %}
{% endblock %}

{% block footer %}
  {{ block.super }}
  {% block shortcuts %}
  <button id="open-shortcuts" data-keyboard-shortcut="?">
    <kbd>?</kbd>
  </button>
  <dialog id="model-list-dialog">
      <div class="dialog-heading">
        <h2>{% translate "Models" %}</h2>
        <form method="dialog">
          <button aria-label="{% translate 'Close' %}">&#10006;</button>
        </form>
      </div>
      <form id="model-list-dialog-form">
        <input
          type="search"
          id="model-list-dialog-search"
          placeholder="{% translate 'Start typing to search...' %}"
          autocomplete="off"
          autofocus
        >
      </form>
    <div class="result">
      {% all_apps as apps %}
      {% for app_label, models in apps.items %}
        <section>
          <h3>{{ app_label }}</h3>
          <ul>
          {% for model in models %}
            <li>
              <a href="{{ model.url }}"{{ model.name }}>
                {{ model.name }}
              </a>
            </li>
          {% endfor %}
          </ul>
        </section>
      {% endfor %}
    </div>
  </dialog>
  <dialog id="shortcuts-dialog">
    <div class="dialog-heading">
      <h2>{% translate "Keyboard shortcuts" %}</h2>
      <form method="dialog">
        <button aria-label="{% translate 'Close' %}">&#10006;</button>
      </form>
    </div>
    <section>
      <h3>{% translate "Global" %}</h3>
      <ul>
        <li>
          <div class="shortcut-description">{% translate "Show this dialog" %}</div>
          <div class="shortcut-keys"><kbd>?</kbd></div>
        </li>
        <li>
          <div class="shortcut-description">{% translate "Go to the site index" %}</div>
          <div class="shortcut-keys"><kbd>g</kbd> <kbd>i</kdb></div>
        </li>
        <li>
          <div class="shortcut-description">{% translate "Go to a change list page" %}</div>
          <div class="shortcut-keys"><kbd>g</kbd> <kbd>l</kdb></div>
        </li>
      </ul>
    </section>
    {% endblock shortcuts %}
    {% block extra_shortcuts %}{% endblock %}
  </dialog>
{% endblock %}
