{% extends "admin/delete_selected_confirmation.html" %}
{% load static %}

{% block extrahead_shortcuts %}
  {{ block.super }}
  <script src="{% static "admin/js/shortcuts_delete_selected_confirmation.js" %}" async></script>
{% endblock extrahead_shortcuts %}

{% block extra_shortcuts %}
  {{ block.super }}
  <section>
    <h3>Delete Confirmation</h3>
    <ul>
      <li>
        <div class="shortcut-description">Confirm deletion</div>
        <div class="shortcut-keys"><kbd class="alt">Alt</kbd> + <kbd>y</kbd></div>
      </li>
      <li>
        <div class="shortcut-description">Cancel deletion</div>
        <div class="shortcut-keys"><kbd class="alt">Alt</kbd> + <kbd>n</kbd></div>
      </li>
    </ul>
  </section>
{% endblock extra_shortcuts %}
