kbd {
  background-color: var(--body-bg);
  border-radius: 3px;
  border: 1px solid var(--border-color);
  box-shadow:
    0 1px 1px rgba(0, 0, 0, 0.2),
    0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
  color: var(--body-fg);
  display: inline-block;
  font-size: 1em;
  line-height: 1;
  padding: 0.5em 0.5em;
  white-space: nowrap;
}

.keyboard-shortcuts {
  background-color: var(--darkened-bg);
  color: var(--body-fg);
  min-width: 20em;
  padding: 1em;
  height: 50vh;
  width: 40vw;
}

.dialog-heading {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.dialog-heading h2 {
  margin: 0;
}

dialog h3 {
  background: var(--header-bg);
  color: var(--header-color);
  margin: 0;
  padding: 0.5em 1em;
}

dialog button {
  background: inherit;
  cursor: pointer;
  border: 0;
  font-size: 1.5em;
  padding: 0;
  width: 30px;
  height: 30px;
}

dialog ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

dialog ul li {
  align-items: center;
  column-gap: 1em;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--border-color);
  padding: 1em;
}

#model-list-dialog-search {
  margin: 0.5em 0em;
  width: 12vw;
}
